<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
</head>
<body>
<div id="header">
    <div class="header-cont">
        <a href="/" target="_blank">慕优酷</a>
    </div>
</div>
<div id="content">
    <div class="demo" id="login-box" style="display: block">
        <div>
            <div id="yt-login-wrap" class="yt-login-wrap mini">
                <div id="alibaba-login-iframe" class="iframe-loaded">
                    <div id="alibaba-login-iframe-loading"></div>
                    <iframe src="/mini/login" frameborder="none" id="alibaba-login-box" width="340" height="366" scrolling="no" style="border: none"></iframe>
                </div>
                <div class="yt-login-frame-func"></div>
                <div id="yt-login-frame-container"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>